.navbar{
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .1rem;
  background: rgba(0, 0, 0, 0.2)!important;
  color: #D30C47;
}
.nav-brand img{
  height: 3rem;
}
.navbar-nav li{
  padding-right: .7rem;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
 color: #D30C47;
}
.header{
    text-align: center;
    color: #75736C;
}

body{
background-image: url("/images/back.jpg");
background-size: cover;
}
.list-group-item {
opacity: 0.6;
border-top: 1px solid #ddd;
border-radius: 0;
color: black;
}
.divide{
  width: 100%;
  margin-top: 1rem;
  border-top: .2rem solid #D30C47;
}
button:hover{
  background-color: #D30C47;
}
