.navbar{
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .1rem;
  background: rgba(0, 0, 0, 0.3)!important;
}
.nav-brand img{
  height: 4rem;
}

.header{
    text-align: center;
}

body{
background-image: url("/images/back.jpg");
background-size: cover;
}
.list-group-item {
opacity: 0.6;
border-top: 1px solid #ddd;
border-radius: 0;
color: black;
}