<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Nakshi Salon</title>

    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
    <link rel='stylesheet' href='/images/app.css'/>

</head>
<body>
    <div class="">

        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="nav-brand"><img src="/images/logo.png" alt="logo image"/></a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a  href="/" class="nav-link">Home</a></li>
                        <li class="nav-item"><a href="/stylists" class="nav-link">Stylists</a></li>
                        <li class="nav-item"><a href="/clients/new" class="nav-link">Client</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <br/>
        <br/>
        <br/>

        #parse( $template )
    </div>
</body>
</html>
