<div>
    <h4>View Stylist details</h4>
    <p>Name: $stylist.getName()</p>
    <p>Mobile: $stylist.getMobile()</p>
    <p>E-Mail: $stylist.getEmail()</p>

    <a href="/stylists/new"><button class="btn-lg">Add new Stylist</button></a>
    <a href="/clients/new"><button class="btn-lg">Add new Client</button></a>
</div>